.korzinkafooter{
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    margin-top: 100px;
    .content{
        width: 83.3%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 40px;
    }
    img{
        width: 90px;
        height: 40px;
    }
    .elem{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 50px;
        h6{
            color: gray;
            font-family: "Inter", sans-serif;

        }
        .icons{
            display: flex;
            align-items: center;
            gap: 19px;
            h3{
            font-family: "Inter", sans-serif;

            }
        }
    }
    

}